@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

:root {
  --sugar: #fcf8f0;
  --linen: #e8dbcd;
  --coffee-grounds: #393831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Cinzel", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  background-color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--linen);
}

::selection {
  background-color: var(--linen);
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
